HeavenlyPizzeriaWebUI/Service References/QueryService/QueryService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Contract.Queries.Orders" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Contract.Queries.Orders" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9998/QueryService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:9998/QueryService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Contract.Queries" />
  <xs:complexType name="GetOrderByIdQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetOrderByIdQuery" nillable="true" type="tns:GetOrderByIdQuery" />
  <xs:complexType name="GetUnshippedOrdersForCurrentCustomerQuery">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Contract.Queries" minOccurs="0" name="Paging" nillable="true" type="q1:PageInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetUnshippedOrdersForCurrentCustomerQuery" nillable="true" type="tns:GetUnshippedOrdersForCurrentCustomerQuery" />
</xs:schema>