HeavenlyPizzeriaWebUI/Service References/QueryService/QueryService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Contract.Queries.Pizza" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Contract.Queries.Pizza" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetAllPizzasQuery">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="GetAllPizzasQuery" nillable="true" type="tns:GetAllPizzasQuery" />
  <xs:complexType name="GetPizzaByIdQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetPizzaByIdQuery" nillable="true" type="tns:GetPizzaByIdQuery" />
</xs:schema>