HeavenlyPizzeriaWebUI/Service References/QueryService/QueryService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Contract.Queries" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Contract.Queries" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9998/QueryService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Contract.DTOs" />
  <xs:complexType name="PageInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageInfo" nillable="true" type="tns:PageInfo" />
  <xs:complexType name="PagedOfOrderInfo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PagedOf{0}" Namespace="http://schemas.datacontract.org/2004/07/Contract.Queries" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="OrderInfo" Namespace="http://schemas.datacontract.org/2004/07/Contract.DTOs" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Contract.DTOs" minOccurs="0" name="Items" nillable="true" type="q1:ArrayOfOrderInfo" />
      <xs:element minOccurs="0" name="Paging" nillable="true" type="tns:PageInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedOfOrderInfo" nillable="true" type="tns:PagedOfOrderInfo" />
</xs:schema>